<div class="section">
   <div class="section-title center">
      Contacto
   </div>
   <div class="section-separator center">
      <img src="{{ asset('images/left-arrow.svg') }}" width="20" height="20"><img class="line" src="{{ asset('images/separator.svg') }}" height="20"><img src="{{ asset('images/right-arrow.svg') }}" width="20" height="20">
   </div>
   <div class="section-content">
      <div class="contact">
         <div class="row"><div class="left"><img class="contact-icon" src="{{ asset('images/phone.svg') }}" alt="Teléfono"></div><div class="right">{{ me.phone }}</div></div>
         <div class="row"><div class="left"><img class="contact-icon" src="{{ asset('images/email.svg') }}" alt="Email"></div><div class="right"><a href="mailto:{{ me.email }}">{{ me.email }}</a></div></div>
         <div class="row"><div class="left"><img class="contact-icon" src="{{ asset('images/address.svg') }}" alt="Dirección"></div><div class="right">{{ me.address }}</div></div>
         <div class="row"><div class="left"></div><div class="right"><a class="no-external-arrow" href="{{ me.linkedin }}" target="_blank" rel="noopener noreferrer"><img class="external-link-icon" src="{{ asset('images/linkedin.svg') }}" alt="LinkedIn"></a><a class="no-external-arrow" href="{{ me.github }}" target="_blank" rel="noopener noreferrer"><img class="external-link-icon" src="{{ asset('images/github.svg') }}" alt="GitHub"></a></div></div>
         <div class="row"><div class="left"></div><div class="right"><span class="italic">"{{ me.motto }}"</span></div></div>
      </div>
   </div>
</div>
