<div class="section">
   <div class="section-title center">
      Contacta con {{ me.name }}
   </div>
   <div class="section-content">
      <table class="contact">
         <tbody>
            <tr>
               <td class="">Teléfono</td>
               <td>{{ me.phone }}</td>
            </tr>
            <tr>
               <td class="">Email</td>
               <td>{{ me.email }}</td>
            </tr>
            <tr>
               <td class="">Dirección</td>
               <td>{{ me.address }}</td>
            </tr>
            <tr>
               <td class="">LinkedIn</td>
               <td>{{ me.linkedin }}</td>
            </tr>
            <tr>
               <td class="">GitHub</td>
               <td>{{ me.github }}</td>
            </tr>
            <tr>
               <td class=""></td>
               <td class="italic">"{{ me.motto }}"</td>
            </tr>
         </tbody>
      </table>
   </div>
</div>
