<div class="section">
   <div class="section-title center">
      Formación
   </div>
   <div class="section-separator">
      {{ separator() }}
   </div>
   <div class="section-content">
      <div class="mobile">
         <ul class="education">
            {% for educationItem in education %}
            <li class="education-item">
               <span class="degree">{{ educationItem.degree }}</span><br />
               <span class="date-range">{{ educationItem.startDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }} - {{ educationItem.endDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }}</span><br />
               <span class="date-range"><a href="{{ educationItem.institution.url }}" target="_blank" rel="noopener noreferrer">{{ educationItem.institution.name }}</a></span>
            </li>
            {% endfor %}
         </ul>
      </div>
      <div class="desktop">
         {% for educationItem in education %}
         <div class="center">
            <span class="bold">{{ educationItem.degree }}</span><br />
            <span class="date-range">{{ educationItem.startDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }} - {{ educationItem.endDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }}</span><br />
            <span class="date-range"><a href="{{ educationItem.institution.url }}" target="_blank" rel="noopener noreferrer">{{ educationItem.institution.name }}</a></span><br />
            <br />
         </div>
         {% endfor %}
      </div>
   </div>
</div>
