<div class="section">
   <div class="section-title center">
      Experiencia profesional
   </div>
   <div class="section-separator center">
      <img src="{{ asset('images/left-arrow.svg') }}" width="20" height="20"><img class="line" src="{{ asset('images/separator.svg') }}" height="20"><img src="{{ asset('images/right-arrow.svg') }}" width="20" height="20">
   </div>
   <div class="section-content">
      <ul class="experiences">
         {% for experience in experiences|reverse %}
            {% if experience.endDate == '' %}
               <li><a class="bold" href="" data-action="click->render#render" data-url="{{ path('app_experience', {'index':experience.index}) }}">{{ experience.company.name }} ({{ experience.startDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }} - Actualmente)</a></li>
            {% else %}
               <li><a href="" data-action="click->render#render" data-url="{{ path('app_experience', {'index':experience.index}) }}">{{ experience.company.name }} <span class="date-range">({{ experience.startDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }} - {{ experience.endDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }})</span></a></li>
            {% endif %}
         {% endfor %}
      </ul>
   </div>
</div>
