<div class="section">
   <div class="section-title center">
      Experiencia profesional
   </div>
   <div class="section-separator">
      {{ separator() }}
   </div>
   <div class="section-content">
      <div class="mobile">
         <ul class="experiences">
            {% for experience in experiences|reverse %}
               <li><a href="" data-action="click->render#render" data-url="{{ path('app_experience', {'index':experience.index}) }}"><span class="bold">{{ experience.company.shortName }}</span> <span class="date-range">({{ experience.startDate|replace({'_': '-'})|format_datetime(pattern="MMM yyyy", locale="es")|capitalize }} - {% if experience.endDate == '' %}Actualmente){% else %}{{ experience.endDate|replace({'_': '-'})|format_datetime(pattern="MMM yyyy", locale="es")|capitalize }}{% endif %})</span></a></li>
            {% endfor %}
         </ul>
      </div>
      <div class="desktop">
         {% for experience in experiences|reverse %}
            <div class="center">
               <a href="" data-action="click->render#render" data-url="{{ path('app_experience', {'index':experience.index}) }}">
                  <span class="bold">{{ experience.company.longName }}</span><br />
                  <span class="date-range">{{ experience.startDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }} - {% if experience.endDate == '' %}Actualmente){% else %}{{ experience.endDate|replace({'_': '-'})|format_datetime(pattern="MMMM yyyy", locale="es")|capitalize }}{% endif %}</span><br />
                  <br />
               </a>
            </div>
         {% endfor %}
      </div>
   </div>
</div>
