{# templates/cv.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ me.name }} - {{ me.title }}{% endblock %}

{% block body %}

   <div {{ stimulus_controller('render') }}>

      <header>

         <div class="photo">
            <img src="{{ asset('images/ricardo-ruiz-martinez.jpg') }}" alt="{{ me.name }}" />
         </div>

         <div class="intro center">
            <span class="intro-name">{{ me.name }}</span><br />
            {{ me.title }}<br />
            <br />
            <span class="curriculum-vitae">Curriculum Vitae</span>
         </div>

         <div class="mobile" style="margin-top: 20px;">

            <nav>
               <ul class="nav-menu">
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_partial', {'name':'profile'}) }}">Presentaci贸n</a>
                  </li>
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_experiences') }}">Experiencia</a>
                  </li>
               </ul>
            </nav>

            <nav>
               <ul class="nav-menu">
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_education') }}">Formaci贸n</a>
                  </li>
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_contact') }}">Contacto</a>
                  </li>
               </ul>
            </nav>

         </div>

         <div class="desktop">

            <nav>
               <ul class="nav-menu">
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_partial', {'name':'profile'}) }}">Presentaci贸n</a>
                  </li>
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_experiences') }}">Experiencia</a>
                  </li>
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_education') }}">Formaci贸n</a>
                  </li>
               </ul>
            </nav>

            <nav>
               <ul class="nav-menu">
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_partial', {'name':'pdf'}) }}">PDF</a>
                  </li>
                  <li>
                      <a href="" data-action="click->render#render" data-url="{{ path('app_contact') }}">Contacto</a>
                  </li>
               </ul>
            </nav>

         </div>

      </header>

      <main>

         <section class="content" data-render-target="content">
            {{ include('partials/_welcome.html.twig') }}
         </section>

      </main>

      <footer>

      </footer>

   </div>

{% endblock %}
