{# templates/notfound.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
   <link rel="stylesheet" href="{{ asset('styles/fonts.css') }}">
   <link rel="stylesheet" href="{{ asset('styles/colors-' ~ theme ~ '.css') }}">
   <link rel="stylesheet" href="{{ asset('styles/mobile.css') }}">
   <link rel="stylesheet" href="{{ asset('styles/desktop.css') }}">
{% endblock %}

{% block title %}Página no encontrada{% endblock %}

{% block robots %}noindex, nofollow{% endblock %}

{% block body %}

   <header>
      <div class="intro center">
         <span class="intro-name">{{ me.name }}</span><br />
         {{ me.title }}<br />
         <br />
         <span class="curriculum-vitae">Curriculum Vitae</span>
      </div>
   </header>

   <main>
      <section class="content">
         <div class="section">
            <div class="section-title center">
               Página no encontrada
            </div>
            <div class="section-separator">
               {{ separator() }}
            </div>
            <div class="section-content center">
               <div class="notfound">
                  La página que estás buscando no está.<br />
                  <br />
                  <a href="{{ path('app_cv') }}">
                     <svg class="big-icon" version="1.1" viewBox="0 0 100 100" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"><path d="m47.608 75.202c-6.0544-0.52355-11.167-2.8889-15.493-7.1678-2.13-2.1069-3.7574-4.3542-4.9925-6.8943-1.1313-2.3266-1.8355-4.6726-2.2667-7.5514-0.20904-1.3958-0.18028-6.0325 0.04661-7.5117 0.82733-5.3937 2.9797-9.7598 6.7316-13.655 4.0392-4.1936 8.6902-6.6098 14.411-7.4863 1.6759-0.25678 6.0566-0.25723 7.6125-7.74e-4 5.6513 0.93148 10.245 3.2637 14.091 7.154l1.1847 1.1984v-8.5857h6.3522v22.081h-22.182v-6.2513h6.6546c3.66 0 6.6546-0.02786 6.6546-0.06191 0-0.16454-1.3625-2.1109-2.0564-2.9377-2.022-2.4091-5.1858-4.531-8.3026-5.5684-5.5118-1.8345-11.757-1.079-16.411 1.9853-2.4384 1.6055-4.6927 3.9522-6.1522 6.404-2.7132 4.5581-3.3055 10.587-1.5562 15.841 0.91351 2.744 2.4154 5.1071 4.6633 7.3373 3.6584 3.6296 8.0521 5.4314 13.249 5.4333 3.17 0.0011 5.6599-0.53301 8.2478-1.7694 4.3548-2.0805 7.8037-5.7559 9.4799-10.102l0.28189-0.731h3.3082c2.6019 0 3.2992 0.02691 3.266 0.12604-0.02321 0.06931-0.16364 0.53285-0.31206 1.0301-0.63874 2.1397-1.7989 4.5815-3.1155 6.5572-3.2636 4.8976-8.5838 8.7646-14.164 10.295-2.9484 0.80877-6.1559 1.0979-9.2304 0.83204z" stroke-width=".95448"/></svg>
                  </a>
               </div>
            </div>
         </div>
      </section>
   </main>

   <footer>
   </footer>

{% endblock %}
